@page "/frequency/{id:int}"
@inject DataService data


<RayInput @bind-newRayText="newRayText" />

@if (data.Rays.Any())
{
    @foreach (var ray in data.Rays)
    {
        <p>
    <RayItem ray="@ray"></RayItem>
</p>
    }
}
else
{
    <div class="spinner-border"></div>
}


@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]

    public string newRayText { get; set; }

    protected override void OnParametersSet()
    {
        data.UpdatedRays += UpdateForNewRays;
        data.SelectedFrequency = Id;
    }

    private void UpdateForNewRays()
    {
        if (!data.Rays.Any(r => r.UserName == data.CurrentUser.Name))
        {
            newRayText = $"Hello from, {data.CurrentUser.Name}";

        }
        StateHasChanged();
    }
}
